<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecocheck"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ecocheck.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ecocheck.Betihut"
            android:label="@string/button" >
        </activity>
        <activity
            android:name="com.example.ecocheck.Giut"
            android:label="@string/giut" >
        </activity>
        <activity
            android:name="com.example.ecocheck.About"
            android:label="@string/about" >
        </activity>
        <activity
            android:name="com.example.ecocheck.Giut_info"
            android:label="@string/giut_info" >
        </activity>
        <activity
            android:name="com.example.ecocheck.GoodData"
            android:label="@string/good_data" >
        </activity>
    </application>

</manifest>
